{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}page-transparency{% endblock %}

{% block content %}
{% include "includes/breadcrumbs.html" %}

<article class="page-transparency">
    <div class="container">
        {# Header #}
        <header class="page-transparency__header">
            <h1 class="page-transparency__title">{{ page.title }}</h1>
        </header>

        {# Intro #}
        {% if page.intro %}
        <div class="page-transparency__intro">
            {{ page.intro|richtext }}
        </div>
        {% endif %}

        {# Body StreamField #}
        {% if page.body %}
        <div class="page-transparency__body">
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</article>
{% endblock %}
